@use "./mixins" as m;
.yetti-section {
  padding-bottom: 30px;
}
.yetti-box {
  @include m.grid-box(40px);
}
.card {
  @include m.grid-box(30px);
  text-align: center;
  border: none;
}
.card-name {
  font-weight: 700;
  font-size: 26px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.card-btn {
  border: none;
  border-radius: 120px;
  font-weight: 700;
  font-size: 18px;
  padding: 18px 50px;
  background-color: #fc8a06;
  width: 330px;
  margin: 0 auto;
  &:hover {
    background-color: #000;
    color: #fc8a06;
  }
}
.card-text {
  font-weight: 700;
  font-size: 18px;
  color: #03081f;
  margin: 0;
}
.cards {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #03081f;
  @include m.grid-box(0px);
  padding-inline: 80px;
  width: 335px;
  border-radius: 12px;
  text-align: center;
}
.cards-ul {
  @include m.ul-box;
  @include m.grid-box(30px);
  margin: 0 auto;
  width: 230px;
  margin-bottom: 30px;
}
.cards-ul_li {
  @include m.grid-box(0px);
  padding: 30px 20px;
  background-color: #d9d9d9;
  border-radius: 12px;
}
.cards-text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.cards-ul_li__str {
  color: #03081f;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
.cards-ul_li__img {
  margin: 0 auto;
  margin-bottom: 5px;
}
.cards-ul_li__text {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}
@media only screen and (min-width: 834px) {
  .yetti-section {
    background-color: #d9d9d9;
    padding-block: 50px;
  }
  .yetti-box {
    @include m.grid-box(30px);
    border-radius: 12px;
  }
  .card {
    background-color: #03081f;
    width: 400px;
    margin: 0 auto;
    @include m.grid-boxs(center, 20px);
    padding: 30px 20px;
    border-radius: 12px;
  }
  .card-name {
    text-align: center;
    margin-bottom: 30px;
  }
  .card-text {
    color: #fff;
  }
  .card-btn:hover {
    background-color: #fff;
    color: #03081f;
  }
  .cards {
    width: 100%;
    padding-inline: 20px;
  }
  .cards-ul {
    @include m.flex-boxs(20px);
    width: 100%;
  }
  .cards-ul_li {
    width: 100%;
    padding: 20px;
  }
  .cards-ul_li__str {
    color: #03081f;
  }
  .cards-ul_li__text {
    color: #000;
  }
}
@media only screen and (min-width: 1280px) {
  .yetti-box {
    @include m.flex-box;
    background-color: #03081f;
    padding-left: 40px;
    border-radius: 12px;
  }
  .cards {
    width: 750px;
  }
  .cards-ul_li {
    width: 220px;
  }
  .cards-ul_li:nth-child(3) {
    padding-bottom: 20px;
  }
  .cards-text {
    padding-inline: 20px;
  }
  .card {
    width: 400px;
    border-right: 1px solid #ffffff1a;
    padding-right: 80px;
    @include m.grid-box(30px);
  }
}
